@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: red !important;
}


.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-right: 60px !important;
    padding-right: 20px !important;
}


.carousel-item > .carousel-caption {
    position: relative;
    top: -20px;
}

.h5, h5 {
    font-size: 1.25rem;
    position: relative;
    top: -400px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 700px;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}